package entities

import "time"

// Pagination - A entity to hold simple pagination parameters
type Pagination struct {
	SortBy    string `query:"sortBy" json:"sortBy"`
	Order     string `query:"order" json:"order" validate:"omitempty,oneof=asc desc"`
	Page      int64  `query:"page" json:"page"`
	Limit     int64  `query:"limit" json:"limit" validate:"max=100"`
	Count     int64  `query:"-" json:"count"`
}

type PaginatedResult struct {
	Data       interface{} `json:"data"`
	Pagination `json:",inline"`
}

type SingleResult struct {
	Data    interface{} `json:"data,omitempty"`
	Message string      `json:"message,omitempty"`
}

type Timestamps struct {
	CreatedAt time.Time `json:"createdAt" bson:"createdAt"`
	UpdatedAt time.Time `json:"updatedAt" bson:"updatedAt"`
}
