// GetOne - Get one {{.Name}} by parameters
func (s *repository) GetOne(params *GetOneParam) (*entities.Project, error) {
	var result []*entities.{{capitalize .Name}}

	cursor, err := s.client.
		Database(DatabaseName).
		Collection(CollectionName).
		Find(context.TODO(), params)

	if err != nil {
		return nil, fmt.Errorf("error while fetching {{.Name}} %w", err)
	}

	err = cursor.All(context.TODO(), &result)

	if err != nil {
		return nil, fmt.Errorf("error while parsing {{.Name}}: %w", err)
	}

	if len(result) == 0 {
		return nil, nil
	}

	return result[0], nil
}